/*** <--- CONTAINER ---> ***/
body {
  font-size: 16px;
  overflow: hidden;
  background: black;
  animation: changeBg 6s infinite alternate;
}

@keyframes changeBg {
  0% {
    background: black;
  }
  33.33333333% {
    background: magenta;
  }
  66.66666666% {
    background: rgb(73, 252, 248);
  }
}
/*** <--- PARTICLES ---> ***/
.bottom-particles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bottom-particles .bubble {
  opacity: 0;
  position: absolute;
  bottom: -1rem;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 254, 34, 0.5);
  border-radius: 50%;
}
.bottom-particles .bubble:nth-child(1) {
  left: 83%;
  animation: blow 14628ms infinite;
  animation-delay: 2472ms;
}
.bottom-particles .bubble:nth-child(2) {
  left: 71%;
  animation: blow 12620ms infinite;
  animation-delay: 4309ms;
}
.bottom-particles .bubble:nth-child(3) {
  left: 93%;
  animation: blow 9109ms infinite;
  animation-delay: 5466ms;
}
.bottom-particles .bubble:nth-child(4) {
  left: 19%;
  animation: blow 9078ms infinite;
  animation-delay: 2650ms;
}
.bottom-particles .bubble:nth-child(5) {
  left: 79%;
  animation: blow 11257ms infinite;
  animation-delay: 2803ms;
}
.bottom-particles .bubble:nth-child(6) {
  left: 29%;
  animation: blow 12305ms infinite;
  animation-delay: 9726ms;
}
.bottom-particles .bubble:nth-child(7) {
  left: 78%;
  animation: blow 14298ms infinite;
  animation-delay: 5141ms;
}
.bottom-particles .bubble:nth-child(8) {
  left: 96%;
  animation: blow 5000ms infinite;
  animation-delay: 3504ms;
}
.bottom-particles .bubble:nth-child(9) {
  left: 60%;
  animation: blow 8400ms infinite;
  animation-delay: 8087ms;
}
.bottom-particles .bubble:nth-child(10) {
  left: 41%;
  animation: blow 8108ms infinite;
  animation-delay: 8353ms;
}
.bottom-particles .bubble:nth-child(11) {
  left: 14%;
  animation: blow 11935ms infinite;
  animation-delay: 7436ms;
}
.bottom-particles .bubble:nth-child(12) {
  left: 90%;
  animation: blow 5000ms infinite;
  animation-delay: 7401ms;
}
.bottom-particles .bubble:nth-child(13) {
  left: 22%;
  animation: blow 5311ms infinite;
  animation-delay: 4780ms;
}
.bottom-particles .bubble:nth-child(14) {
  left: 25%;
  animation: blow 14339ms infinite;
  animation-delay: 9238ms;
}
.bottom-particles .bubble:nth-child(15) {
  left: 20%;
  animation: blow 9687ms infinite;
  animation-delay: 3830ms;
}
.bottom-particles .bubble:nth-child(16) {
  left: 43%;
  animation: blow 13904ms infinite;
  animation-delay: 11942ms;
}
.bottom-particles .bubble:nth-child(17) {
  left: 32%;
  animation: blow 13787ms infinite;
  animation-delay: 6012ms;
}
.bottom-particles .bubble:nth-child(18) {
  left: 6%;
  animation: blow 5000ms infinite;
  animation-delay: 4521ms;
}
.bottom-particles .bubble:nth-child(19) {
  left: 76%;
  animation: blow 7700ms infinite;
  animation-delay: 2425ms;
}
.bottom-particles .bubble:nth-child(20) {
  left: 57%;
  animation: blow 13554ms infinite;
  animation-delay: 10568ms;
}
.bottom-particles .bubble:nth-child(21) {
  left: 1%;
  animation: blow 5000ms infinite;
  animation-delay: 8964ms;
}
.bottom-particles .bubble:nth-child(22) {
  left: 6%;
  animation: blow 5000ms infinite;
  animation-delay: 7382ms;
}
.bottom-particles .bubble:nth-child(23) {
  left: 7%;
  animation: blow 14394ms infinite;
  animation-delay: 2609ms;
}
.bottom-particles .bubble:nth-child(24) {
  left: 15%;
  animation: blow 10686ms infinite;
  animation-delay: 9189ms;
}
.bottom-particles .bubble:nth-child(25) {
  left: 45%;
  animation: blow 10563ms infinite;
  animation-delay: 1782ms;
}
.bottom-particles .bubble:nth-child(26) {
  left: 48%;
  animation: blow 8522ms infinite;
  animation-delay: 10231ms;
}
.bottom-particles .bubble:nth-child(27) {
  left: 28%;
  animation: blow 5000ms infinite;
  animation-delay: 10786ms;
}
.bottom-particles .bubble:nth-child(28) {
  left: 78%;
  animation: blow 11613ms infinite;
  animation-delay: 212ms;
}
.bottom-particles .bubble:nth-child(29) {
  left: 90%;
  animation: blow 11117ms infinite;
  animation-delay: 8989ms;
}
.bottom-particles .bubble:nth-child(30) {
  left: 73%;
  animation: blow 5000ms infinite;
  animation-delay: 11217ms;
}
.bottom-particles .bubble:nth-child(31) {
  left: 60%;
  animation: blow 5000ms infinite;
  animation-delay: 11605ms;
}
.bottom-particles .bubble:nth-child(32) {
  left: 96%;
  animation: blow 13963ms infinite;
  animation-delay: 5265ms;
}
.bottom-particles .bubble:nth-child(33) {
  left: 80%;
  animation: blow 5000ms infinite;
  animation-delay: 221ms;
}
.bottom-particles .bubble:nth-child(34) {
  left: 30%;
  animation: blow 8077ms infinite;
  animation-delay: 8625ms;
}
.bottom-particles .bubble:nth-child(35) {
  left: 70%;
  animation: blow 7023ms infinite;
  animation-delay: 8538ms;
}
.bottom-particles .bubble:nth-child(36) {
  left: 89%;
  animation: blow 9566ms infinite;
  animation-delay: 2848ms;
}
.bottom-particles .bubble:nth-child(37) {
  left: 31%;
  animation: blow 7676ms infinite;
  animation-delay: 2154ms;
}
.bottom-particles .bubble:nth-child(38) {
  left: 37%;
  animation: blow 5054ms infinite;
  animation-delay: 308ms;
}
.bottom-particles .bubble:nth-child(39) {
  left: 11%;
  animation: blow 11181ms infinite;
  animation-delay: 8723ms;
}
.bottom-particles .bubble:nth-child(40) {
  left: 2%;
  animation: blow 12303ms infinite;
  animation-delay: 6913ms;
}
.bottom-particles .bubble:nth-child(41) {
  left: 55%;
  animation: blow 12892ms infinite;
  animation-delay: 3839ms;
}
.bottom-particles .bubble:nth-child(42) {
  left: 20%;
  animation: blow 14320ms infinite;
  animation-delay: 8576ms;
}
.bottom-particles .bubble:nth-child(43) {
  left: 30%;
  animation: blow 12168ms infinite;
  animation-delay: 4280ms;
}
.bottom-particles .bubble:nth-child(44) {
  left: 73%;
  animation: blow 5865ms infinite;
  animation-delay: 5342ms;
}
.bottom-particles .bubble:nth-child(45) {
  left: 76%;
  animation: blow 5656ms infinite;
  animation-delay: 11242ms;
}
.bottom-particles .bubble:nth-child(46) {
  left: 98%;
  animation: blow 11384ms infinite;
  animation-delay: 7097ms;
}
.bottom-particles .bubble:nth-child(47) {
  left: 70%;
  animation: blow 5217ms infinite;
  animation-delay: 11046ms;
}
.bottom-particles .bubble:nth-child(48) {
  left: 65%;
  animation: blow 13390ms infinite;
  animation-delay: 6276ms;
}
.bottom-particles .bubble:nth-child(49) {
  left: 89%;
  animation: blow 5000ms infinite;
  animation-delay: 3130ms;
}
.bottom-particles .bubble:nth-child(50) {
  left: 57%;
  animation: blow 10164ms infinite;
  animation-delay: 3102ms;
}
.bottom-particles .bubble:nth-child(51) {
  left: 3%;
  animation: blow 8754ms infinite;
  animation-delay: 3029ms;
}
.bottom-particles .bubble:nth-child(52) {
  left: 24%;
  animation: blow 5000ms infinite;
  animation-delay: 7131ms;
}
.bottom-particles .bubble:nth-child(53) {
  left: 30%;
  animation: blow 14554ms infinite;
  animation-delay: 11322ms;
}
.bottom-particles .bubble:nth-child(54) {
  left: 81%;
  animation: blow 5000ms infinite;
  animation-delay: 642ms;
}
.bottom-particles .bubble:nth-child(55) {
  left: 92%;
  animation: blow 5824ms infinite;
  animation-delay: 5728ms;
}
.bottom-particles .bubble:nth-child(56) {
  left: 35%;
  animation: blow 5000ms infinite;
  animation-delay: 715ms;
}
.bottom-particles .bubble:nth-child(57) {
  left: 63%;
  animation: blow 10112ms infinite;
  animation-delay: 8637ms;
}
.bottom-particles .bubble:nth-child(58) {
  left: 25%;
  animation: blow 5895ms infinite;
  animation-delay: 11517ms;
}
.bottom-particles .bubble:nth-child(59) {
  left: 89%;
  animation: blow 5000ms infinite;
  animation-delay: 11303ms;
}
.bottom-particles .bubble:nth-child(60) {
  left: 63%;
  animation: blow 5000ms infinite;
  animation-delay: 761ms;
}
.bottom-particles .bubble:nth-child(61) {
  left: 67%;
  animation: blow 5000ms infinite;
  animation-delay: 6771ms;
}
.bottom-particles .bubble:nth-child(62) {
  left: 48%;
  animation: blow 12707ms infinite;
  animation-delay: 6625ms;
}
.bottom-particles .bubble:nth-child(63) {
  left: 84%;
  animation: blow 5000ms infinite;
  animation-delay: 4893ms;
}
.bottom-particles .bubble:nth-child(64) {
  left: 65%;
  animation: blow 8828ms infinite;
  animation-delay: 9944ms;
}
.bottom-particles .bubble:nth-child(65) {
  left: 26%;
  animation: blow 5000ms infinite;
  animation-delay: 5858ms;
}
.bottom-particles .bubble:nth-child(66) {
  left: 55%;
  animation: blow 12233ms infinite;
  animation-delay: 2696ms;
}
.bottom-particles .bubble:nth-child(67) {
  left: 44%;
  animation: blow 5000ms infinite;
  animation-delay: 907ms;
}
.bottom-particles .bubble:nth-child(68) {
  left: 49%;
  animation: blow 14324ms infinite;
  animation-delay: 2569ms;
}
.bottom-particles .bubble:nth-child(69) {
  left: 73%;
  animation: blow 5000ms infinite;
  animation-delay: 5347ms;
}
.bottom-particles .bubble:nth-child(70) {
  left: 4%;
  animation: blow 5000ms infinite;
  animation-delay: 469ms;
}
.bottom-particles .bubble:nth-child(71) {
  left: 70%;
  animation: blow 14787ms infinite;
  animation-delay: 569ms;
}
.bottom-particles .bubble:nth-child(72) {
  left: 96%;
  animation: blow 5000ms infinite;
  animation-delay: 623ms;
}
.bottom-particles .bubble:nth-child(73) {
  left: 74%;
  animation: blow 7328ms infinite;
  animation-delay: 7925ms;
}
.bottom-particles .bubble:nth-child(74) {
  left: 73%;
  animation: blow 5000ms infinite;
  animation-delay: 7372ms;
}
.bottom-particles .bubble:nth-child(75) {
  left: 43%;
  animation: blow 5000ms infinite;
  animation-delay: 5920ms;
}
.bottom-particles .bubble:nth-child(76) {
  left: 20%;
  animation: blow 11869ms infinite;
  animation-delay: 6853ms;
}
.bottom-particles .bubble:nth-child(77) {
  left: 96%;
  animation: blow 11652ms infinite;
  animation-delay: 2131ms;
}
.bottom-particles .bubble:nth-child(78) {
  left: 54%;
  animation: blow 5000ms infinite;
  animation-delay: 11984ms;
}
.bottom-particles .bubble:nth-child(79) {
  left: 53%;
  animation: blow 11635ms infinite;
  animation-delay: 8958ms;
}
.bottom-particles .bubble:nth-child(80) {
  left: 16%;
  animation: blow 5000ms infinite;
  animation-delay: 9690ms;
}
.bottom-particles .bubble:nth-child(81) {
  left: 6%;
  animation: blow 5119ms infinite;
  animation-delay: 2543ms;
}
.bottom-particles .bubble:nth-child(82) {
  left: 21%;
  animation: blow 10340ms infinite;
  animation-delay: 1580ms;
}
.bottom-particles .bubble:nth-child(83) {
  left: 84%;
  animation: blow 9765ms infinite;
  animation-delay: 1364ms;
}
.bottom-particles .bubble:nth-child(84) {
  left: 69%;
  animation: blow 12625ms infinite;
  animation-delay: 2990ms;
}
.bottom-particles .bubble:nth-child(85) {
  left: 68%;
  animation: blow 5327ms infinite;
  animation-delay: 4663ms;
}
.bottom-particles .bubble:nth-child(86) {
  left: 8%;
  animation: blow 14853ms infinite;
  animation-delay: 2875ms;
}
.bottom-particles .bubble:nth-child(87) {
  left: 40%;
  animation: blow 5000ms infinite;
  animation-delay: 2952ms;
}
.bottom-particles .bubble:nth-child(88) {
  left: 95%;
  animation: blow 12765ms infinite;
  animation-delay: 3571ms;
}
.bottom-particles .bubble:nth-child(89) {
  left: 15%;
  animation: blow 12914ms infinite;
  animation-delay: 10661ms;
}
.bottom-particles .bubble:nth-child(90) {
  left: 45%;
  animation: blow 11431ms infinite;
  animation-delay: 2919ms;
}
.bottom-particles .bubble:nth-child(91) {
  left: 36%;
  animation: blow 5980ms infinite;
  animation-delay: 981ms;
}
.bottom-particles .bubble:nth-child(92) {
  left: 68%;
  animation: blow 7513ms infinite;
  animation-delay: 10134ms;
}
.bottom-particles .bubble:nth-child(93) {
  left: 18%;
  animation: blow 14127ms infinite;
  animation-delay: 5580ms;
}
.bottom-particles .bubble:nth-child(94) {
  left: 39%;
  animation: blow 5000ms infinite;
  animation-delay: 857ms;
}
.bottom-particles .bubble:nth-child(95) {
  left: 62%;
  animation: blow 11256ms infinite;
  animation-delay: 7789ms;
}
.bottom-particles .bubble:nth-child(96) {
  left: 3%;
  animation: blow 6476ms infinite;
  animation-delay: 8816ms;
}
.bottom-particles .bubble:nth-child(97) {
  left: 66%;
  animation: blow 11292ms infinite;
  animation-delay: 7483ms;
}
.bottom-particles .bubble:nth-child(98) {
  left: 92%;
  animation: blow 13527ms infinite;
  animation-delay: 6105ms;
}
.bottom-particles .bubble:nth-child(99) {
  left: 68%;
  animation: blow 5000ms infinite;
  animation-delay: 9069ms;
}
.bottom-particles .bubble:nth-child(100) {
  left: 95%;
  animation: blow 12969ms infinite;
  animation-delay: 260ms;
}
.bottom-particles .bubble:nth-child(101) {
  left: 10%;
  animation: blow 5000ms infinite;
  animation-delay: 4279ms;
}
.bottom-particles .bubble:nth-child(102) {
  left: 92%;
  animation: blow 8347ms infinite;
  animation-delay: 4510ms;
}
.bottom-particles .bubble:nth-child(103) {
  left: 89%;
  animation: blow 5000ms infinite;
  animation-delay: 884ms;
}
.bottom-particles .bubble:nth-child(104) {
  left: 17%;
  animation: blow 13226ms infinite;
  animation-delay: 4348ms;
}
.bottom-particles .bubble:nth-child(105) {
  left: 54%;
  animation: blow 5000ms infinite;
  animation-delay: 3979ms;
}
.bottom-particles .bubble:nth-child(106) {
  left: 70%;
  animation: blow 6290ms infinite;
  animation-delay: 11813ms;
}
.bottom-particles .bubble:nth-child(107) {
  left: 75%;
  animation: blow 9738ms infinite;
  animation-delay: 7589ms;
}
.bottom-particles .bubble:nth-child(108) {
  left: 97%;
  animation: blow 12306ms infinite;
  animation-delay: 1483ms;
}
.bottom-particles .bubble:nth-child(109) {
  left: 38%;
  animation: blow 8885ms infinite;
  animation-delay: 6705ms;
}
.bottom-particles .bubble:nth-child(110) {
  left: 64%;
  animation: blow 5000ms infinite;
  animation-delay: 7343ms;
}
.bottom-particles .bubble:nth-child(111) {
  left: 70%;
  animation: blow 9725ms infinite;
  animation-delay: 10194ms;
}
.bottom-particles .bubble:nth-child(112) {
  left: 2%;
  animation: blow 14207ms infinite;
  animation-delay: 6167ms;
}
.bottom-particles .bubble:nth-child(113) {
  left: 16%;
  animation: blow 6246ms infinite;
  animation-delay: 4503ms;
}
.bottom-particles .bubble:nth-child(114) {
  left: 33%;
  animation: blow 9840ms infinite;
  animation-delay: 2014ms;
}
.bottom-particles .bubble:nth-child(115) {
  left: 33%;
  animation: blow 5000ms infinite;
  animation-delay: 8280ms;
}
.bottom-particles .bubble:nth-child(116) {
  left: 11%;
  animation: blow 13548ms infinite;
  animation-delay: 1783ms;
}
.bottom-particles .bubble:nth-child(117) {
  left: 47%;
  animation: blow 6927ms infinite;
  animation-delay: 8049ms;
}
.bottom-particles .bubble:nth-child(118) {
  left: 12%;
  animation: blow 5000ms infinite;
  animation-delay: 5276ms;
}
.bottom-particles .bubble:nth-child(119) {
  left: 82%;
  animation: blow 7522ms infinite;
  animation-delay: 2636ms;
}
.bottom-particles .bubble:nth-child(120) {
  left: 91%;
  animation: blow 5000ms infinite;
  animation-delay: 6545ms;
}
.bottom-particles .bubble:nth-child(121) {
  left: 29%;
  animation: blow 7809ms infinite;
  animation-delay: 8702ms;
}
.bottom-particles .bubble:nth-child(122) {
  left: 19%;
  animation: blow 7174ms infinite;
  animation-delay: 6785ms;
}
.bottom-particles .bubble:nth-child(123) {
  left: 91%;
  animation: blow 14731ms infinite;
  animation-delay: 6571ms;
}
.bottom-particles .bubble:nth-child(124) {
  left: 38%;
  animation: blow 13839ms infinite;
  animation-delay: 4307ms;
}
.bottom-particles .bubble:nth-child(125) {
  left: 95%;
  animation: blow 5000ms infinite;
  animation-delay: 4590ms;
}
.bottom-particles .bubble:nth-child(126) {
  left: 7%;
  animation: blow 6027ms infinite;
  animation-delay: 750ms;
}
.bottom-particles .bubble:nth-child(127) {
  left: 42%;
  animation: blow 8423ms infinite;
  animation-delay: 5536ms;
}
.bottom-particles .bubble:nth-child(128) {
  left: 19%;
  animation: blow 5000ms infinite;
  animation-delay: 2379ms;
}
.bottom-particles .bubble:nth-child(129) {
  left: 51%;
  animation: blow 5109ms infinite;
  animation-delay: 9892ms;
}
.bottom-particles .bubble:nth-child(130) {
  left: 38%;
  animation: blow 6548ms infinite;
  animation-delay: 10822ms;
}
.bottom-particles .bubble:nth-child(131) {
  left: 24%;
  animation: blow 5000ms infinite;
  animation-delay: 6229ms;
}
.bottom-particles .bubble:nth-child(132) {
  left: 35%;
  animation: blow 5000ms infinite;
  animation-delay: 11195ms;
}
.bottom-particles .bubble:nth-child(133) {
  left: 12%;
  animation: blow 9068ms infinite;
  animation-delay: 5829ms;
}
.bottom-particles .bubble:nth-child(134) {
  left: 9%;
  animation: blow 9732ms infinite;
  animation-delay: 5398ms;
}
.bottom-particles .bubble:nth-child(135) {
  left: 50%;
  animation: blow 10687ms infinite;
  animation-delay: 6326ms;
}
.bottom-particles .bubble:nth-child(136) {
  left: 28%;
  animation: blow 5869ms infinite;
  animation-delay: 2012ms;
}
.bottom-particles .bubble:nth-child(137) {
  left: 4%;
  animation: blow 6806ms infinite;
  animation-delay: 8982ms;
}
.bottom-particles .bubble:nth-child(138) {
  left: 74%;
  animation: blow 8573ms infinite;
  animation-delay: 1118ms;
}
.bottom-particles .bubble:nth-child(139) {
  left: 13%;
  animation: blow 5000ms infinite;
  animation-delay: 11891ms;
}
.bottom-particles .bubble:nth-child(140) {
  left: 53%;
  animation: blow 13609ms infinite;
  animation-delay: 2992ms;
}
.bottom-particles .bubble:nth-child(141) {
  left: 95%;
  animation: blow 12916ms infinite;
  animation-delay: 1277ms;
}
.bottom-particles .bubble:nth-child(142) {
  left: 84%;
  animation: blow 8590ms infinite;
  animation-delay: 11204ms;
}
.bottom-particles .bubble:nth-child(143) {
  left: 52%;
  animation: blow 5000ms infinite;
  animation-delay: 4243ms;
}
.bottom-particles .bubble:nth-child(144) {
  left: 100%;
  animation: blow 7002ms infinite;
  animation-delay: 1423ms;
}
.bottom-particles .bubble:nth-child(145) {
  left: 95%;
  animation: blow 13151ms infinite;
  animation-delay: 8914ms;
}
.bottom-particles .bubble:nth-child(146) {
  left: 5%;
  animation: blow 6381ms infinite;
  animation-delay: 9989ms;
}
.bottom-particles .bubble:nth-child(147) {
  left: 51%;
  animation: blow 5000ms infinite;
  animation-delay: 10808ms;
}
.bottom-particles .bubble:nth-child(148) {
  left: 53%;
  animation: blow 14207ms infinite;
  animation-delay: 9272ms;
}
.bottom-particles .bubble:nth-child(149) {
  left: 4%;
  animation: blow 12183ms infinite;
  animation-delay: 2463ms;
}
.bottom-particles .bubble:nth-child(150) {
  left: 95%;
  animation: blow 5000ms infinite;
  animation-delay: 5335ms;
}
.bottom-particles .bubble:nth-child(151) {
  left: 5%;
  animation: blow 12480ms infinite;
  animation-delay: 1631ms;
}
.bottom-particles .bubble:nth-child(152) {
  left: 92%;
  animation: blow 5000ms infinite;
  animation-delay: 2219ms;
}
.bottom-particles .bubble:nth-child(153) {
  left: 14%;
  animation: blow 9163ms infinite;
  animation-delay: 8168ms;
}
.bottom-particles .bubble:nth-child(154) {
  left: 43%;
  animation: blow 11385ms infinite;
  animation-delay: 9219ms;
}
.bottom-particles .bubble:nth-child(155) {
  left: 20%;
  animation: blow 7563ms infinite;
  animation-delay: 10501ms;
}
.bottom-particles .bubble:nth-child(156) {
  left: 41%;
  animation: blow 5000ms infinite;
  animation-delay: 11288ms;
}
.bottom-particles .bubble:nth-child(157) {
  left: 57%;
  animation: blow 13745ms infinite;
  animation-delay: 9136ms;
}
.bottom-particles .bubble:nth-child(158) {
  left: 43%;
  animation: blow 13818ms infinite;
  animation-delay: 7106ms;
}
.bottom-particles .bubble:nth-child(159) {
  left: 89%;
  animation: blow 13132ms infinite;
  animation-delay: 1563ms;
}
.bottom-particles .bubble:nth-child(160) {
  left: 46%;
  animation: blow 5220ms infinite;
  animation-delay: 7131ms;
}
.bottom-particles .bubble:nth-child(161) {
  left: 38%;
  animation: blow 5000ms infinite;
  animation-delay: 6754ms;
}
.bottom-particles .bubble:nth-child(162) {
  left: 26%;
  animation: blow 10379ms infinite;
  animation-delay: 11658ms;
}
.bottom-particles .bubble:nth-child(163) {
  left: 60%;
  animation: blow 9136ms infinite;
  animation-delay: 10337ms;
}
.bottom-particles .bubble:nth-child(164) {
  left: 68%;
  animation: blow 8655ms infinite;
  animation-delay: 4413ms;
}
.bottom-particles .bubble:nth-child(165) {
  left: 87%;
  animation: blow 5000ms infinite;
  animation-delay: 4158ms;
}
.bottom-particles .bubble:nth-child(166) {
  left: 15%;
  animation: blow 5000ms infinite;
  animation-delay: 5708ms;
}
.bottom-particles .bubble:nth-child(167) {
  left: 97%;
  animation: blow 5000ms infinite;
  animation-delay: 457ms;
}
.bottom-particles .bubble:nth-child(168) {
  left: 50%;
  animation: blow 12587ms infinite;
  animation-delay: 9007ms;
}
.bottom-particles .bubble:nth-child(169) {
  left: 2%;
  animation: blow 10008ms infinite;
  animation-delay: 9755ms;
}
.bottom-particles .bubble:nth-child(170) {
  left: 57%;
  animation: blow 7076ms infinite;
  animation-delay: 4378ms;
}
.bottom-particles .bubble:nth-child(171) {
  left: 98%;
  animation: blow 5000ms infinite;
  animation-delay: 154ms;
}
.bottom-particles .bubble:nth-child(172) {
  left: 78%;
  animation: blow 10987ms infinite;
  animation-delay: 2584ms;
}
.bottom-particles .bubble:nth-child(173) {
  left: 21%;
  animation: blow 5000ms infinite;
  animation-delay: 9148ms;
}
.bottom-particles .bubble:nth-child(174) {
  left: 92%;
  animation: blow 5000ms infinite;
  animation-delay: 4641ms;
}
.bottom-particles .bubble:nth-child(175) {
  left: 33%;
  animation: blow 10252ms infinite;
  animation-delay: 7748ms;
}
.bottom-particles .bubble:nth-child(176) {
  left: 67%;
  animation: blow 5000ms infinite;
  animation-delay: 4630ms;
}
.bottom-particles .bubble:nth-child(177) {
  left: 36%;
  animation: blow 13778ms infinite;
  animation-delay: 736ms;
}
.bottom-particles .bubble:nth-child(178) {
  left: 15%;
  animation: blow 5000ms infinite;
  animation-delay: 5164ms;
}
.bottom-particles .bubble:nth-child(179) {
  left: 29%;
  animation: blow 8486ms infinite;
  animation-delay: 387ms;
}
.bottom-particles .bubble:nth-child(180) {
  left: 71%;
  animation: blow 5000ms infinite;
  animation-delay: 6284ms;
}
.bottom-particles .bubble:nth-child(181) {
  left: 71%;
  animation: blow 5000ms infinite;
  animation-delay: 5892ms;
}
.bottom-particles .bubble:nth-child(182) {
  left: 11%;
  animation: blow 10550ms infinite;
  animation-delay: 1577ms;
}
.bottom-particles .bubble:nth-child(183) {
  left: 72%;
  animation: blow 9993ms infinite;
  animation-delay: 692ms;
}
.bottom-particles .bubble:nth-child(184) {
  left: 5%;
  animation: blow 7858ms infinite;
  animation-delay: 7165ms;
}
.bottom-particles .bubble:nth-child(185) {
  left: 78%;
  animation: blow 5000ms infinite;
  animation-delay: 4849ms;
}
.bottom-particles .bubble:nth-child(186) {
  left: 53%;
  animation: blow 5000ms infinite;
  animation-delay: 3056ms;
}
.bottom-particles .bubble:nth-child(187) {
  left: 90%;
  animation: blow 12783ms infinite;
  animation-delay: 10963ms;
}
.bottom-particles .bubble:nth-child(188) {
  left: 4%;
  animation: blow 8937ms infinite;
  animation-delay: 10674ms;
}
.bottom-particles .bubble:nth-child(189) {
  left: 26%;
  animation: blow 5000ms infinite;
  animation-delay: 919ms;
}
.bottom-particles .bubble:nth-child(190) {
  left: 26%;
  animation: blow 11924ms infinite;
  animation-delay: 1134ms;
}
.bottom-particles .bubble:nth-child(191) {
  left: 82%;
  animation: blow 9835ms infinite;
  animation-delay: 11966ms;
}
.bottom-particles .bubble:nth-child(192) {
  left: 82%;
  animation: blow 5000ms infinite;
  animation-delay: 7732ms;
}
.bottom-particles .bubble:nth-child(193) {
  left: 88%;
  animation: blow 12433ms infinite;
  animation-delay: 8951ms;
}
.bottom-particles .bubble:nth-child(194) {
  left: 73%;
  animation: blow 8398ms infinite;
  animation-delay: 592ms;
}
.bottom-particles .bubble:nth-child(195) {
  left: 55%;
  animation: blow 5000ms infinite;
  animation-delay: 187ms;
}
.bottom-particles .bubble:nth-child(196) {
  left: 57%;
  animation: blow 8983ms infinite;
  animation-delay: 2889ms;
}
.bottom-particles .bubble:nth-child(197) {
  left: 71%;
  animation: blow 5000ms infinite;
  animation-delay: 8167ms;
}
.bottom-particles .bubble:nth-child(198) {
  left: 83%;
  animation: blow 10753ms infinite;
  animation-delay: 6206ms;
}
.bottom-particles .bubble:nth-child(199) {
  left: 29%;
  animation: blow 5000ms infinite;
  animation-delay: 6628ms;
}
.bottom-particles .bubble:nth-child(200) {
  left: 28%;
  animation: blow 5000ms infinite;
  animation-delay: 10570ms;
}

@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -100vh) scale(0.2);
  }
}/*# sourceMappingURL=Styles.css.map */